{% extends 'base.html' %}
{% load static %}
{% block meta %}<meta name="description" content="Master income where you earn legitimately online">{% endblock %}
{% block ad %}
<script data-ad-client="ca-pub-5355641360242350" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
</script> {% endblock %}

{% block title %} {{block.super}} {% endblock %}

{% block breadcrumb %}
ABOUT US
{% endblock %}
{% block content %}
<center><h2 style="font-family: algerian;"><u>ABOUT US</u></h2></center>

    {% include 'messages.html' %}
<p class="pre">
    Legitkash Is a new Online financial Technology platform  that takes advantage of technology to make money.

    It also uses innovative technological ideas to provide financial solutions to individual and brands that seeks to advance their Businesses.
    
    HOW DOES LEGISTKASH GETS MONEY TO PAY MEMBERS
    
    It involves in cryptocurrency such as bitcoin mining, litecoin mining and forex trading as well just like the way other investment platform does, and we are being paid for it, then we distribute revenue out to our members.
    
<strong> The platform is not a multi marketing level system, that is, the platform that pay her members  through new members subcription fee or merging</strong> 
    
<strong> The platform isn't an affiliate program, or news reading site but a platform making it possible for every individual as a youth or even a child invest with as low as #1500</strong> 
    
    And Participant earn 60% ROI and 10% commission per invitation.
    
    And all are being paid out  after 15days.
    
</p>
{% endblock %}